*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #ffebee;
}
h4{
  position: relative;
  right: 0.50em;
}
.containerImage{
  margin-top: 2em;
  text-align: center;
}
.responsive-img{
  width: 15em;
}
.waves-effect{
  margin-left: 1.7em;
}
.material-icons{
  text-decoration: none;
  color: white;
  margin-top: 0.50em;
}
p{
  position: relative;
  right: 0.50em;
  color: white;
}
footer{
  position: relative;
  top: 4em;
  height: 15vh;
  background-color: #e57373;
}

.header2{
  text-align: center;
  font-weight: bold;
}

.btnWidth{
  width: 10em !important;
}

.card-panel {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  padding: 24px;
  margin: .5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #ffe8ed;
}

.cyan {
  background-color: #8edcb2 !important;
}

.registrarse{
  font-size: 1em;
  font-weight: bold;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}
.containerAbout{
  margin-top: 3em;
  margin-left: 2em;
  background-color: #ffcdd2;
  padding: 1em;
}
.containerAbout p{
  color: black;
}
.CategoryQuestions, .DifficultyQuestions{
  margin-top: 2em;
}
.CategoryQuestions p, .DifficultyQuestions p{
  color: black;
  text-align: center;
}
.contQuestion{
margin-top: 2.5em;
}
.textQuestion{
  color: black;
  font-size: 2em;
  text-align: center;
}